<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978480878129-0cs9duj5slvjro36ncssjvgskf64pa3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978480878129-0cs9duj5slvjro36ncssjvgskf64pa3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDXwaTN-UatUauD_9CQdq1wM8v3OF47dxo</string>
	<key>GCM_SENDER_ID</key>
	<string>978480878129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aplicatie</string>
	<key>PROJECT_ID</key>
	<string>hayat-371613</string>
	<key>STORAGE_BUCKET</key>
	<string>hayat-371613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978480878129:ios:b0f07896e693dc5700fb10</string>
	<key>DATABASE_URL</key>
	<string>https://hayat-371613-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>